{#-
  SQLAlchemy Base Template
  Generates the declarative base for all database models
-#}
{% from "_shared/_base.j2" import generated_marker %}
{{ generated_marker() }}

"""SQLAlchemy declarative base for all database models."""

from sqlalchemy.orm import DeclarativeBase


class Base(DeclarativeBase):
    """Base class for all SQLAlchemy models."""

    pass
